appdirs==1.4.4
APScheduler==3.6.3
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
pyTelegramBotAPI==3.7.9
python-docx==0.8.11
python-telegram-bot==13.5
pytz==2021.1
requests==2.25.1
six==1.16.0
termcolor==1.1.0
tornado==6.1
tzlocal==2.1
urllib3==1.26.5
virtualenv==20.4.7
Werkzeug==2.0.1
